{% extends "base.html" %}
{% block title %}Upload File{% endblock %}
{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh; position: relative; z-index: 1; color: white;">
    <h2>Upload a File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="uploaded_file" id="file-upload" style="display: none;" onchange="this.form.submit()">
        <button type="button" onclick="document.getElementById('file-upload').click()">Upload File</button>
    </form>
</div>
{% endblock %}
